.bg {
  position: absolute;
  top: 0;
  right: 0;
  height: $contentHeight;
  width: 100%;
  display: flex;
  z-index: 0;
  @include screen(tablet) {
    height: auto;
    flex-direction: column;
  }
  .side {
    width: 50%;
    @include screen(tablet) {
      width: 100%;
      height: 100vh;
    }
    &.yellow {
      background-color: $firstColor;
    }
    &.blue {
      background-color: $secondColor;
    }
  }
}
